<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My First Phaser Game</title>
  <link rel="stylesheet" type="text/css" href="styles/application.css">
  <script type="text/javascript" src="javascripts/phaser.min.js"></script>
  <script type="text/javascript" src="javascripts/app.js"></script>
</head>
<body>

  <!-- phaser will create the canvas and place it here for us -->

  <!-- this logo is actually the only thing I am adding to the body using HTML or CSS -->
  <img src="images/logo.png" class="picture logo">

</body>
</html>